body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: #F8F9FB;
    font-family: 'Montserrat', sans-serif;
}

fieldset {
    width: 450px;
    margin: 0 auto;
    border-color: aqua;
    border-radius: 5px;
    background-color: #fff;
}

@media screen and (max-width: 500px) {
    fieldset {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    fieldset {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    fieldset {
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    fieldset {
        width: 250px;
    }
}

legend {
    color:  aqua;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    font-weight: bold;
    text-transform: uppercase;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    width: 70%;
    padding: 7px;
}

input[type="submit"] {
    width: 50%;
    margin: 5px;
}

input[type="reset"] {
    width: 50%;
    margin: 5px;
}
